streamlit
pypdf
camelot-py 
python-dotenv
pandas
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-core
numpy 
opencv-python 
sentence-transformers
faiss-cpu
streamlit-authenticator
requests
pyyaml
supabase
PyMuPDF
openai
bcrypt


